:root {
    --main-color: white;
    /* --alt-color: #A9B7C9;
    --background-color: #627084; */
    --alt-color: #627084;
    --background-color: #A9B7C9;
    --highlight-color: orange;
    --top-padding: 1em;
    --left-padding: 2em;
    --transition-duration: 0.6s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    /* border: 1px solid black; */
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
}
ul li {
    list-style: none;
    margin-bottom: 0.5em;
}

img {
    width: 2rem;
}

p {
    margin: 0;
}
p.title {
    font-size: 1.2em;
    font-weight: bold;
}

.sidebar {
    grid-column: 1;
    grid-row: span 2;
    display: grid;
    /* flex-direction: column; */
    row-gap: 16px;
    padding-top: var(--top-padding);
    align-content: start;
    gap: 5em;
    background-color: var(--alt-color);
}

.sidebar p {
    margin: auto 0;
}
.sidebar .logo {
    display: flex;
    font-size: 2rem;
}

.sidebar .logo img {
    width: 3rem;
}
.sidebar li {
    display: flex;
    gap: 1em;
}

.sidebar li {
    transition: transform var(--transition-duration);
}

.sidebar li:hover {
    cursor: pointer;
    transform:translateX(1em);
}

.sidebar > div {
    padding-left: 1rem;
}

.header {
    grid-column: 2;
    grid-row: 1;
    padding-top: var(--top-padding);
}

.header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

.header .top .right {
    display: flex;
    align-items: center;
}
.header .top .left {
    display: flex;
    align-items: center;
    flex: 1;
}

.header .bottom .left {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
}

.bottom .left div > :first-child {
    font-size: 1.5rem;
}

.header .bottom .left .icon {
    width: 5rem;
}

.left input {
    flex: 1;
    margin-right: 10em;
    
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 2em;
    background-color: var(--background-color);
}

.content .projects {
    padding: 2em;
    grid-row: span 2;
}

.content .projects h2 {
    margin: 0;
}

.content .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2em;
}

.card {
    padding: 2em 1em;
    display: grid;
    grid-template-rows: auto 2rem;
    border-left: 8px solid orange;
    border-radius: 8px;
    background-color: var(--main-color);
}

.card .text {
    margin-bottom: 1em;
}

.card .icon-row {
    text-align: end;
}

.card img {
    margin-left: 1rem;    
}

.announcements>div,
.trending>div {
    background-color: var(--main-color);
}

.announcements {
    padding-top: 2em;
}


.account {
    display: flex;
    padding: 1em 0;
    gap: 1em;
}
.account > div {
    flex: 1;
}

.announcements > div,
.trending {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.announcements-content {
    border-radius: 8px;
    padding: 2em;
}

.announcements .item p {
    overflow: auto;
}

.trending .account-list {
    border-radius: 8px;
    padding: 1em 2em;
}