:root {
    --main-color: white;
    /* --alt-color: #A9B7C9;
    --background-color: #627084; */
    --alt-color: #627084;
    --alt-font: #F2F5F8;
    --background-color: #A9B7C9;
    --highlight-color: #4A90E2;
    --hover-text: #2E3A4D;
    --top-padding: 1em;
    --left-padding: 2em;
    --transition-duration: 0.6s;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    /* border: 1px solid black; */
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
}
ul li {
    list-style: none;
    margin-bottom: 0.5em;
}

img {
    width: 2rem;
}

p {
    margin: 0;
}
p.title {
    font-size: 1.2em;
    font-weight: bold;
}

.sidebar {
    grid-column: 1;
    grid-row: span 2;
    display: grid;
    padding-top: var(--top-padding);
    align-content: start;
    gap: 5em;
    background-color: var(--alt-color);
    font-family: sans-serif;
}

.sidebar p {
    margin: auto 0;
    color: var(--alt-font);
}

.sidebar img {
    filter: invert(100%);
}

.sidebar .logo {
    display: flex;
    font-size: 2rem;
}

.sidebar .logo img {
    width: 3rem;
}
.sidebar li {
    display: flex;
    gap: 1em;
    font-size: 1.2rem;
}

.sidebar li {
    transition: transform var(--transition-duration);
}

.sidebar li:hover {
    cursor: pointer;
    transform:translateX(1em);
}

.sidebar > div {
    padding-left: 1rem;
}

.header {
    grid-column: 2;
    grid-row: 1;
    padding-top: var(--top-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 10px 10px black;
}

.header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    margin-bottom: 1em;
}

.header .top .right {
    display: flex;
    align-items: center;
    gap: 1em;
}

.top .right .icon {
    width: 2.5em;
}

.header .top .left {
    display: flex;
    align-items: center;
    flex: 1;
}

.header .bottom .left {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
}

.bottom .left div > :first-child {
    font-size: 1.5rem;
}

.header .bottom .left .icon {
    width: 5rem;
}

.bell:hover {
    cursor: pointer;
    animation: shake 0.4s;
}
@keyframes shake {
    0% {transform: rotate(0deg); }
    33% {transform: rotate(-5deg)}
    66% {transform: rotate(5deg)}
    100% {transform: rotate(0deg)}
}

.bottom .right {
    display: grid;
    grid-template-columns: repeat(3,120px);
    grid-template-rows: 40px;
    gap: 3em;
}

.header button {
    text-align: center;
    background-color: var(--alt-color);
    color: white;
    border: none;
    border-radius: 32px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header button:hover {
    color: var(--hover-text);
    background-color: var(--background-color);
}

.left input {
    flex: 1;
    margin-right: 10em;
    border-radius: 16px;
    border: none;
    background-color: var(--background-color);
    font-size: 1.5rem;
    padding-left: 1ch;
}

.bottom .left > div {
    margin: auto 0;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 2em;
    background-color: var(--background-color);
    row-gap: 5em;
}

.content .projects {
    padding: 2em;
    grid-row: span 2;
}

.content .projects h2 {
    margin: 0;
}

.content .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2em;
}

.card {
    padding: 2em 1em;
    display: grid;
    grid-template-rows: auto 2rem;
    border-left: 8px solid var(--highlight-color);
    border-radius: 8px;
    background-color: var(--main-color);
}

.card .text {
    margin-bottom: 1em;
}

.card .icon-row {
    text-align: end;
}

.card img {
    margin-left: 1rem;
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.4);
    cursor: pointer;
}

.announcements>div,
.trending>div {
    background-color: var(--main-color);
}

.announcements {
    padding-top: 2em;
}


.account {
    display: flex;
    padding: 1em 0;
    gap: 1em;
}
.account > div {
    flex: 1;
}

.announcements > div,
.trending {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.announcements-content {
    border-radius: 8px;
    padding: 2em;
}

.announcements .item:not(:first-child) {
    border-top: 1px solid var(--alt-color)
}

.announcements .item {
    padding: 1em 0;
}

.announcements .item:first-child {
    padding-top: 0;
}

.announcements .item:last-child {
    padding-bottom: 0;
}

.announcements .item p {
    overflow: auto;
}

.trending .account-list {
    border-radius: 8px;
    padding: 1em 2em;
}